---
import NextJsIcon from "../icons/NextJs.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import ReactIcon from "../icons/React.astro";
import GitHubIcon from "../icons/Github.astro";
import LinkIcon from "../icons/Link.astro";
import ReactRouter from "../icons/ReactRouter.astro";
import Redux from "../icons/Redux.astro";
import Typescript from "../icons/Typescript.astro";
import OpenAi from "../icons/OpenAi.astro";
import Gsap from "../icons/Gsap.astro";

import LinkButton from "./LinkButton.astro";

const TAGS = {
  Next: {
    name: "NextJs",
    class: "bg-black text-white",
    icon: NextJsIcon,
  },
  Tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
  },
  React: {
    name: "React",
    class: "bg-white border border-black/30 dark:border-none text-[#58c4dc]",
    icon: ReactIcon,
  },
  ReactRouter: {
    name: "React Router v7",
    class: "bg-white border border-black/30 dark:border-none text-[#ff0000]",
    icon: ReactRouter,
  },
  Redux: {
    name: "Redux",
    class: "bg-white border border-black/30 dark:border-none text-[#671FA6]",
    icon: Redux,
  },
  Typescript: {
    name: "Typescript",
    class: "bg-white border border-black/30 dark:border-none text-[#2A539D]",
    icon: Typescript,
  },
  OpenAi: {
    name: "OpenAi",
    class: "bg-black border border-black dark:border-none text-white",
    icon: OpenAi,
  },
  Gsap: {
    name: "GSAP",
    class: "bg-gradient-to-r from-[#5DD332] to-[#8DEA6A] border border-black dark:border-none text-black font-bold",
    icon: Gsap,
  },
};

const PROJECTS = [
  {
    title: "CR Compras Landing Page",
    description:
      "Landing page for a marketplace platform where entrepreneurs can build their e-shops in minutes, and shoppers can explore endless products from sellers in Costa Rica.",
    link: "https://willowy-gaufre-c50301.netlify.app/", // replace with your real link
    github: "",
    image: "/projects/crc_landing.webp",
    tags: [TAGS.React, TAGS.Tailwind, TAGS.Typescript, TAGS.Gsap],
  },
  {
    title:
      "CaVi - Level up your career with AI-driven feedback and job match insights",
    description:
      "CaVi is your personal career assistant powered by AI. Upload your CV in seconds and get instant, intelligent feedback to make your resume stand out.",
    link: "https://reliable-begonia-ce5e2d.netlify.app/", // replace with your real link
    github: "",
    image: "/projects/cavi_app.webp",
    tags: [
      TAGS.React,
      TAGS.Tailwind,
      TAGS.ReactRouter,
      TAGS.Redux,
      TAGS.Typescript,
      TAGS.OpenAi,
    ],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:hover:bg-gray-800/50">
            <img
              alt="project image"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-wrap mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 mb-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHubIcon class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <LinkIcon class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
